<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "basketball_player.html" %}
    {% block content %}
    {{ pid }}
    <div class="container">
        <div class="row">
          <div class="col-sm-1">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="lineRadio" onclick="validate()">
                <label class="form-check-label" for="flexRadioDefault1">
                  Line Chart
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="basicRadio" onclick="validate()">
                <label class="form-check-label" for="flexRadioDefault2">
                    Basic Chart
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="radarRadio" onclick="validate()">
                <label class="form-check-label" for="flexRadioDefault3">
                    Radar Chart
                </label>
            </div>
          </div>
          <div class="col-sm-10" id="lineChartDiv">
          </div>
          <div class="col-sm-1">
          </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
          <div class="col-sm-1">
          </div>
          <div class="col-sm-10">
            <canvas id="linePoints" style="max-width: 800px;"></canvas>
          </div>
          <div class="col-sm-1">
          </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
          <div class="col-sm-1">
          </div>
          <div class="col-sm-10">
            <canvas id="lineAssists" style="max-width: 800px;"></canvas>
          </div>
          <div class="col-sm-1">
          </div>
        </div>
    </div>
    <br><br>

</body>
<script>
    function validate() {
        var div1 = document.getElementById('lineChartDiv');
        var line = document.getElementById('lineRadio');
        var basic = document.getElementById('basicRadio');
        var radio = document.getElementById('radarRadio');
        if (line.checked) {
            div1.innerHTML = '<canvas id="lineChart" style="max-width: 800px;"></canvas>';
            (async() => {
                const x = await appearStats().then(data => {return data;});
                console.log(x)
                var labels = [2015, 2016, 2017, 2018, 2019, 2020]
                var ctxL = document.getElementById("lineChart").getContext('2d')
                lineChart(ctxL, labels, x);
            })();
        }
        else if (basic.checked) {
            div1.innerHTML = '<canvas id="myChart" style="max-width: 800px;"></canvas>';
            (async() => {
                const x = await appearStats().then(data => {return data;});
                console.log(x)
                var labels = [2015, 2016, 2017, 2018, 2019, 2020]
                var ctx = document.getElementById("myChart").getContext('2d');
                basicChart(ctx, labels, x);
            })();
        }
        else if (radio.checked) {
            div1.innerHTML = '<canvas id="radarChart" style="max-width: 600px;"></canvas>';
            (async() => {
                const x = await appearStats().then(data => {return data;});
                console.log(x)
                var labels = [2015, 2016, 2017, 2018, 2019, 2020]
                var ctxR = document.getElementById("radarChart").getContext('2d');
                radarChart(ctxR, labels, x);
            })();
        } 
    }

    //line
    function lineChart(ctxL, labels, data, data2){
        //var ctxL = document.getElementById("lineChart").getContext('2d');
        var myLineChart = new Chart(ctxL, {
        type: 'line',
        data: {
        labels: labels,
        datasets: [{
        label: "My First dataset",
        data: data,
        backgroundColor: 'rgba(0, 137, 132, .2)',
        borderColor: 'green',
        borderWidth: 2
        },
        {
        label: "My Second dataset",
        data: data2,
        backgroundColor: [
        'rgba(0, 137, 132, .2)',
        ],
        borderColor: [
        'rgba(0, 10, 130, .7)',
        ],
        borderWidth: 2
        }
        ]
        },
        options: {
        responsive: true
        }
        });
    }
    
    function basicChart(ctx, labels, data){
        //var ctx = document.getElementById("myChart").getContext('2d');
        var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
        labels: labels,
        datasets: [{
        label: '# of Votes',
        data: data,
        backgroundColor: [
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(255, 159, 64, 0.2)'
        ],
        borderColor: [
        'rgba(255,99,132,1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)'
        ],
        borderWidth: 1
        }]
        },
        options: {
        scales: {
        yAxes: [{
        ticks: {
        beginAtZero: true
        }
        }]
        }
        }
        });
    }

    function radarChart(ctxR, labels, data){
        //radar
        //var ctxR = document.getElementById("radarChart").getContext('2d');
        var myRadarChart = new Chart(ctxR, {
        type: 'radar',
        data: {
        labels: labels,
        datasets: [{
        label: "Points per game per season",
        data: data,
        backgroundColor: [
        'rgba(105, 0, 132, .2)',
        ],
        borderColor: [
        'rgba(200, 99, 132, .7)',
        ],
        borderWidth: 2
        },
        ]
        },
        options: {
        responsive: true
        }
        });
    }


    function appearStats() {
        return fetch("/static/json/player_history_stats.json")
        .then(response => {
            console.log(response);
            if(!response.ok){
                throw Error('error')
            }
            return response.json();
        })
        .then(data => {
            const pontoi = [];
            const seasons = [];
            for (const row of data){
                pontoi.push(row.points)
                seasons.push(row.year)
            }
            // console.log(pontoi)
            // console.log(seasons)
            return Promise.resolve(pontoi);
        })
        .catch(error => {
            console.log(error)
        }); 
    };

    function playerStatsPerYear(player_id, season) {
        let pointsAr = [];
        let assistsAr = [];
        let gamesNumbers = [];
        return fetch("https://api-nba-v1.p.rapidapi.com/players/statistics?id=" + player_id.toString() + "&season=" + season.toString(), {
                "method": "GET",
                "headers": {
                    "x-rapidapi-host": "api-nba-v1.p.rapidapi.com",
                    "x-rapidapi-key": "71df5c7d97msh81656ed06f59badp159b26jsna1076804ff4f"
                }
            })
            .then(res => {
                return res.json();
            })
            .then(data => {
                var game = 0;
                // console.log(data);
                for (var row of data.response) {
                    game = game + 1;
                    pointsAr.push(row.points);
                    assistsAr.push(row.assists);
                    gamesNumbers.push(game);
                }
                // console.log(pointsAr)
                // console.log(assistsAr)
                // console.log(gamesNumbers)
                return [pointsAr, assistsAr, gamesNumbers]
            })
            .catch(error => {
                console.log(error)
            });
    };
    (async() => {
        const x = await playerStatsPerYear(20, 2020).then(data => {return data;});
        console.log(x[0])
        console.log(x[1])
        console.log(x[2])
        var ctx1 = document.getElementById("linePoints").getContext('2d');
        var ctx2 = document.getElementById("lineAssists").getContext('2d');
        lineChart(ctx1, x[2], x[0])
        lineChart(ctx2, x[2], x[1])
    })();
    

</script>
{% endblock %}
</html>